[Unit]
Description=NoreenStreamlit
#After=syslog.target network.target
[Service]
#Restart=on-failure
#User=noreen.hossain@cerevel.com
User=root
#Group=cerevel
WorkingDirectory=/home/noreen.hossain@cerevel.com/AI-Inova-Platform/
#Environment="PATH=/usr/bin/python3"
ExecStart=/bin/bash /home/noreen.hossain@cerevel.com/AI-Inova-Platform/noreen-streamlit.sh
[Install]
WantedBy=multi-user.target